.friends .friends_header {
  padding-bottom: 20px;
  border-bottom: 1px solid #3d3d3d;
}

.friends .friends_plus-friend {
  /* 패딩 탑 사이즈 10px 설정 ('플러스 친구' 폰트 사이즈가 10px, 총 20px) */
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #3d3d3d;
}

.friends .friends_plus-title {
  padding-bottom: 25px;
}

.friends .friends_title {
  padding-top: 10px;
  padding-bottom: 25px;
}

/* 이후 추가되는 리스트는 아래쪽으로 공간 두면서 생성되도록 */
.friends .friends_list {
  padding-bottom: 20px;
}
