@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,700&display=swap&subset=korean");
@import "status-bar.css";
@import "/kakao-clone-2.0/css/header.css";
@import "/kakao-clone-2.0/css/nav-bar.css";
@import "/kakao-clone-2.0/css/friend.css";
@import "/kakao-clone-2.0/css/friends.css";
@import "/kakao-clone-2.0/css/find.css";
@import "/kakao-clone-2.0/css/more.css";
@import "/kakao-clone-2.0/css/settings.css";
@import "/kakao-clone-2.0/css/chat.css";
@import "/kakao-clone-2.0/css/mobile.css";

* {
  box-sizing: border-box;
}

body {
  background-color: #333333;
  padding: 10px 20px;
  color: #fcfcfc;
  font-family: "Noto Sans KR", "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* 링크된 아이콘 색이 부모요소를 따라가도록 변경 (보라색 > 검은색) */
a {
  color: inherit;
  /* 링크된 텍스트 하단 밑줄 안보이도록 변경 */
  text-decoration: none;
}
